@font-face {
    font-family: "roboto-bold";
    src: url(assets/fonts/Roboto-Bold.ttf);
}

@font-face {
    font-family: "roboto";
    src: url(assets/fonts/Roboto-Regular.ttf);
}

body {
    background-color: hsl(234, 29%, 20%);
    font-family: "roboto";
    color: hsl(235, 18%, 26%);
}



/* web */

.container {
    width: 60%;
    height: 450px;
    background-color: white;
    display: flex;
    margin: 50px auto;
    padding: 5px 20px;
    border-radius: 20px;
    box-sizing: border-box;
}

.imgMobile {
    display: none;
}


.signUp {
    width: 50%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
}

.judul h1 {
    font-size: 40px;
    font-family: "roboto-bold";
    margin-bottom: 0;
}

.list {
    margin: 5px 0 0 0;
}

.list li{
    width: 500px;
    margin: -10px 0 0 120px;
    list-style: none;
    display: flex;
    align-items: center;
}

.list li svg {
    margin-right: 10px;
}


.text{
    width: 300px;
    font-family: "roboto-bold";
    /* border: 1px solid; */
    display: flex;
    justify-content: space-between;
}

.text p:nth-child(2){
    display: none;
    color: red;
}



.email form input, .message .button {
    width: 330px;
    height: 40px;
    margin-top: 0;
    border-radius: 5px;
}

.email form .button {
    width: 340px;
    margin-top: 20px;
    color: white;
    font-family: "roboto-bold";
    cursor: pointer;
    background-color: hsl(235, 18%, 26%);
}

.unvalid {
    border-color: red;
    background-color: rgba(250, 128, 114, 0.649);
    transition: .3s;
}


.img{
    /* margin-left: 40px; */
    width: fit-content;
}
.img svg {
    width: 290px;
    margin: -75px 0 0 40px;
}


.overlay {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: hsl(234, 29%, 20%);
}

.message {
    background-color: white;
    width: 35%;
    margin: 100px auto;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.message h1 {
    width: 80%;
    font-size: 50px;
    font-family: "roboto-bold";
    margin: 10px auto;
}

.message p {
    width: 80%;
    margin: 10px auto;
    font-size: 14px;
}

.iconS {
    margin: 20px 0 0 40px;
}

.message .button {
    width: 80%;
    margin: 20px auto;
    border: none;
    color: white;
    font-family: "roboto-bold";
    background-color: hsl(4, 100%, 67%);
    background-image: linear-gradient(to right, rgba(252, 65, 105, 0.956),rgb(255, 148, 71));    
}




/* mobile */


@media screen and (max-width: 560px){
    body {
        background-color: white;
        padding: 0;
        margin: 0;
    }

    p {
        font-size: 12px;
    }

    .container{
        width: 100%;   
        height: auto;
        margin-top: -10px;
        display: flex;
        padding: 0;
        flex-direction: column;
        align-items: flex-end;
        overflow: hidden;
        
    }

    .imgMobile {
        /* width: 100%; */
        display: block;
        width: 100%;
        

    }

    .imgMobile img {
        width: 347px;
        position: absolute;
        left: 5px;
        margin: -20px 0 0;

    }

    .img {
        display: none;
    }

    .signUp {
        width: 90%;
        margin-top: 250px;
        text-align: left;
        margin-left:  auto;
    }

    .list {
        width: 90%;
        margin-left: -10px;
    }

    .list li {
        width: 250px;
        margin: 0 0 0 -20px;

    }

    .judul {
        margin-top: -15px;
    }
   

    .judul h1 {
        font-size: 30px;
    }
    
    .email {
        width: 100%;
        text-align: center;
    }

    .email form input {
        width: 230px;
    }

    .email form .button {
        width: 240px;
        margin-bottom: 10px;
    }


    .text {
        width: 100%;
        margin-top: 5px;
    }

    .text p:nth-child(2) {
        margin-left: -40px;
    }


    .overlay {
        background-color: white;

    }

    .message {
        width: 100%;
        margin: 0;
        padding-top: 100px;
        height: 100%;
    }

    .message h1 {
        font-size: 34px;
    }

    .message .button {
        margin-top: 200px;
        background-color: hsl(234, 29%, 20%);
        background-image: none;
    }
}
